.headline-svg-text {
  font-weight: bold;
  font-size: 60px;
}

.stroke {
  stroke: rgb(94, 234, 212);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.animate-stroke {
  animation: stroke 1.5s ease-out forwards;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
